<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AddAttendanceServlet</servlet-name>
        <servlet-class>servlet.AddAttendanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditAttendanceServlet</servlet-name>
        <servlet-class>servlet.EditAttendanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAttendanceServlet</servlet-name>
        <servlet-class>servlet.UpdateAttendanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAttendanceServlet</servlet-name>
        <servlet-class>servlet.DeleteAttendanceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClockInServlet</servlet-name>
        <servlet-class>ClockInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <servlet-class>UpdateProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddAttendanceServlet</servlet-name>
        <url-pattern>/AddAttendanceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditAttendanceServlet</servlet-name>
        <url-pattern>/EditAttendanceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAttendanceServlet</servlet-name>
        <url-pattern>/UpdateAttendanceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAttendanceServlet</servlet-name>
        <url-pattern>/DeleteAttendanceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClockInServlet</servlet-name>
        <url-pattern>/ClockInServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <url-pattern>/UpdateProfileServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
</web-app>
